@model IEnumerable<MVC_Tuincentrum.Models.Leverancier>

@{
    ViewBag.Title = "FindLeveranciersMetPostNr";
}

<h2>Leveranciers met postnr @ViewBag.postnr</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Woonplaats)
        </td>
    </tr>
}

</table>
