@model IEnumerable<MVCBierenApplication.Models.Brouwer>

@{
    ViewBag.Title = "Index";
}

<h2>Alle brouwers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gemeente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omzet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gemeente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omzet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrouwerNr }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrouwerNr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrouwerNr })
        </td>
    </tr>
}

</table>
