@model int?
@{ 
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/voorstellingen.png" /></h1>
    @if (ViewBag.Mandje)
    {
        <p>
            <a href="@Url.Action("Mandje", "Home")" class="btn btn-primary btn-lg">Winkelmandje &raquo;</a>
            <a href="@Url.Action("Kassa", "Home")" class="btn btn-primary btn-lg">Kassa &raquo;</a>
        </p>
    }
</div>

@if (!Model.HasValue)
{
    <br />
    <div id="kiesgenre" class="lead alert alert-info">
        <p>Kies een voorstellingsgenre</p>
    </div>
}
<br />

@*<ul class="nav nav-pills">
    @foreach (var item in Model.GenreList)
    {
        var url = Url.Action("Index", "Home", new { id = item.GenreNr });
        if (Model.Genre != null && Model.Genre.GenreNaam.Equals(item.GenreNaam))
        {
            <li role="presentation" class="active"><a href="@Url">@item.GenreNaam</a></li>
        }
        else
        {
            <li role="presentation"><a href="@Url">@item.GenreNaam</a></li>
        }
    }
</ul>*@

<div>@Html.Action("GenreLijst", new { id = Model })</div>

<div id="genreUpdate">
    @if (Model.HasValue)
    {
        @Html.Action("GetVoorstellingenGenre", new { id = Model })
    }
</div>
@*@if (Model.Genre != null)
{
    if (Model.VoorstellingsList.Count > 0)
    {
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Titel</th>
                        <th>Uitvoerders</th>
                        <th>Prijs</th>
                        <th>Vrije plaatsen</th>
                        <th>Reserveren</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VoorstellingsList)
                    {
                    <tr>
                        <td>@item.Datum</td>
                        <td>@item.Titel</td>
                        <td>@item.Uitvoerders</td>
                        <td>@Html.DisplayFor(x => item.Prijs)</td>
                        <td>@item.VrijePlaatsen</td>
                        @if (item.VrijePlaatsen == 0)
                        {
                            <td><label class="label label-danger">uitverkocht</label></td>
                        }
                        else
                        {
                            <td>@Html.ActionLink("Reserveren", "Reserveren", new { id = item.VoorstellingsNr })</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="lead alert alert-warning">Er zijn geen voorstellingen van dit genre beschikbaar.</div>
    }
}*@