@model IEnumerable<MVC_Cultuurhuis.Models.Voorstelling>
@helper decimalDisplay(decimal prijs)
    {
        var formatProvider = new System.Globalization.CultureInfo("nl-BE");
        formatProvider.NumberFormat.CurrencyPositivePattern = 2;
        formatProvider.NumberFormat.CurrencyNegativePattern = 2;
        formatProvider.NumberFormat.CurrencyDecimalSeparator = ",";
        <span>@prijs.ToString("C", formatProvider)</span>
}

@{
    ViewBag.Title = "Mandje";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "update",
        Url = Url.Action("PartialVerwijderMandje")
    };
}

<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/mandje.png" /></h1>
    <p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Tickets kiezen &raquo;</a>
        <a href="@Url.Action("Kassa", "Home")" class="btn btn-primary btn-lg">Kassa &raquo;</a>
    </p>
</div>
<div class="lead alert alert-info">
    <p>Inhoud van uw winkelmandje</p>
</div>

@using (Ajax.BeginForm("Mandje", ajaxOpts))
{
    <div id="update">
        @Html.Action("PartialVerwijderMandje")
    </div>
    <div style="position:relative">
        <input type="submit" value="Selectie verwijderen" class="btn" style="position:absolute; top:-120px; right:0;"/>
    </div>
}

@*@using (Html.BeginForm("VerwijderVoorstellingMandje", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uitvoerders)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
                <th>
                    Plaatsen
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uitvoerders)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prijs)

                    </td>
                    <td>
                        @Session[item.VoorstellingsNr.ToString()]
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="checkbox" name="@item.VoorstellingsNr" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Selectie verwijderen" />
                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
}
<div class="lead alert alert-info">
    @foreach (var item in Model)
    {
        ViewBag.Prijs = ViewBag.Prijs + (item.Prijs * decimal.Parse(Session[item.VoorstellingsNr.ToString()].ToString()));
    }
    <p>Te betalen: @decimalDisplay((decimal)ViewBag.Prijs)</p>
</div>*@
